<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | default: site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="https://lama.univ-amu.fr/public/favicon.ico">
    <script src="https://kit.fontawesome.com/76ed523b0c.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <section class="page-header">
      <a href="https://univ-amu.fr/">
        <img src="/latexamu/assets/img/amu.svg" style="width: 400px;">
      </a>
      <h1 class="project-name"></h1>
      <img src="/latexamu/assets/img/latex.svg" style="width: 400px;">
      <h1 class="project-name"></h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      {% if site.show_downloads %}
        <a href="https://github.com/SCD-Aix-Marseille-Universite/latexamu/zipball/master" class="btn"><i class="far fa-file-archive"></i> Télécharger .zip</a>
      {% endif %}
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn"><i class="fab fa-github"></i> Voir le code source sur GitHub</a>
      {% endif %}
      <p></p>
      <a href="https://raw.githubusercontent.com/SCD-Aix-Marseille-Universite/latexamu/gh-pages/these.pdf" class="btn"><i class="far fa-file-pdf"></i> Télécharger le PDF</a>
    </section>

    <section class="main-content">
      {{ content }}

      <footer class="site-footer">

      </footer>
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
      </script>
      <script type="text/javascript">
        try {
          var pageTracker = _gat._getTracker("{{ site.google_analytics }}");
        pageTracker._trackPageview();
        } catch(err) {}
      </script>
    {% endif %}
  </body>
</html>
